<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/XmlAndJsonTest">
        <classes>
            <class name="com.atmecs.test.TestJson">
                <methods>
                    <include name="testJsonReader"/>
                </methods>
            </class>
            <class name="com.atmecs.test.TestXML">
                <methods>
                    <include name="testXmlReader"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>